* {
	padding: 0;
}
.App {
  display: flex;
  text-align: center;
  flex-direction: column;

} 
.header {
	display:  flex;
	align-items: center;
/* 	color: white; */
	background: linear-gradient(to right, rgb(32, 142, 238), rgb(189, 203, 229)) ;
}

.header > * {
	flex-basis: 100%;

}

.header h2 {
	color: #202c2d;
	text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93;
}

.Page-Content {
	background:linear-gradient(to right, rgb(32, 142, 238), rgb(189, 203, 229)); 
}

a {
	text-decoration: none;
	color:  white;
}

.contact-footer {
	display: flex;
	background: linear-gradient(to right, rgb(32, 142, 238), rgb(189, 203, 229)) ;
}
